<div class="m_nav_top">
    <ul>
        <li><a href="#">о нас</a></li>
        <li><a href="#">услуги</a></li>
        <li><a href="#">сотрудники</a></li>
        <li><a href="#">услуги</a></li>

    </ul>
</div>